{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>ECHO</h2>
      <a href="{% url 'dashboard' %}">🏠 Home</a>
      <a href="{% url 'settings' %}">⚙️ Settings</a>

      <a href="{% url 'all_notifications' %}">🔔 All Notifications</a>

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>

    <!-- Main content -->
    <div class="main">{% block content %} {% endblock %}</div>
  </body>
</html>
